@model NannaKlean.Models.ResCleanDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResCleanDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.squareFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.squareFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numLivingRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numLivingRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numBedrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numBedrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numBathRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numBathRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contactId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contactId)
        </dd>
    </dl>
</div>

<h4>Additional request details: </h4>
<hr />
<dl class="row">
    @if (Model.miscItems != null)
    {
        foreach (MiscItem item in Model.miscItems)
        {
            <dd class="col-sm-2">
                @item.MiscItemType.longDesc.ToString()
            </dd>
            <dt class="col-sm-10">
                @if (item.requested)
                {
                    <input type="checkbox" disabled="disabled" name=@item.Id checked>
                }
                else
                {
                    <input type="checkbox" disabled="disabled" name=@item.Id>
                }
            </dt>
        }
    }
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
