@model IEnumerable<NannaKlean.Models.ResCleanDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.squareFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numLivingRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numBedrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numBathRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contactId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.squareFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numLivingRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numBedrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numBathRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contactId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
